$border-radius-extraSmall: 4px;
$border-radius-small: 8px;
$border-radius-medium: 12px;
$border-radius-large: 16px;
$border-radius-extraLarge: 20px;
$border-radius-full: 999vw;

$avatar-size-small: 2em;
$avatar-size-medium: 3em;
$avatar-size-large: 4em;