@use "reset" as *;

html {
	background-color: var(--palette-background-primary, #121212);
}

body {
	font-family: var(--typography-fontFamily, sans-serif), sans-serif;
	color: var(--palette-text-default, #dedede);
}