@use "@harmony/shared/src/theme" as *;
@use "sass:map";
@use "sass:color";

.input-field {
	font-weight: 500;
	display: block;

	padding: 1em;

	transition-timing-function: ease-in-out;
	transition-duration: 200ms;
	transition-property: background-color, border-bottom-color;

	border: none;

	&:focus {
		outline: none;
	}
}

button.input-field {
	color: map.get($theme, palette, text, dark, main);
	background: map.get($theme, palette, colors, primary, main);

	&:hover {
		background: map.get($theme, palette, colors, primary, light);
	}

	&:active {
		background: map.get($theme, palette, colors, primary, dark);
	}
}

input.input-field {
	color: var(--palette-text-main);

	border-bottom: 2px solid map.get($theme, palette, colors, primary, main);
	border-radius: map.get($theme, border-radius, small);;
	background-color: map.get($theme, palette, colors, surface, main);;

	&:hover {
		border-bottom-color: 2px solid map.get($theme, palette, colors, primary, light);
		background-color: map.get($theme, palette, colors, surface, light);
	}

	&:focus {
		border-bottom-color: 2px solid map.get($theme, palette, colors, primary, dark);
		background-color: map.get($theme, palette, colors, surface, dark);
	}
}