@use "@harmony/shared/src/variables" as *;

.message-indicator {
	$font-size: 0.5; // Modify this value to increase the size of the number
	$resulting-fz: calc($font-size * $status-indicator-size);
	font-size: $resulting-fz  + em;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc($status-indicator-size / $resulting-fz * 0.8) + em;
	height: calc($status-indicator-size / $resulting-fz * 0.8) + em;
	color: var(--palette-text-primary, $palette-text-contrast-light);
	//border: calc($status-indicator-size / ($resulting-fz * 6)) + em solid var(--palette-background-paper, $palette-background-paper);
	border-radius: $border-radius-full;
	background-color: var(--palette-states-info, $palette-states-info);
	aspect-ratio: 1/1;
}