@use "@harmony/shared/src/variables" as *;
@use "@harmony/shared/src/theme" as *;
@use "sass:map";

.message-indicator {

	font-size: 150%;
	font-weight: 1000;
	display: block;
	align-content: center;
	width: 2.3rem;
	height: auto;

	color: map.get($theme, palette, text, negative, main);
	border-radius: map.get($theme, border-radius, full);
	background-color: map.get($theme, palette, states, info, main);
	aspect-ratio: 1/1;

	& > p {
		display: block;
		text-align: center;
	}
}