:root.dark {
	--palette-background-primary: #010119;
	--palette-background-secondary: #431212;
	--palette-background-paper: #121223;
	--palette-background-elevated: #232334;

	--palette-colors-primary: #9f9fff;
	--palette-colors-secondary: #ffaa00;

	--palette-states-success: #6f9639;
	--palette-states-info: #358ea7;
	--palette-states-warning: #ffff00;
	--palette-states-error: #9e4747;

	--palette-states-online: var(--palette-states-success);
	--palette-states-idle: var(--palette-states-info);
	--palette-states-busy: var(--palette-states-error);
	--palette-states-offline: transparent;
	--palette-states-disconnected: #c24f7d;

	--palette-text-default: #dedede;
	--palette-text-primary: var(--palette-colors-primary);
	--palette-text-hint: #9a9a9a;

	--typography-fontFamily: sans-serif
}