.login-form {
	display: flex;

	flex-direction: column;
	justify-content: center;
	max-width: 420px;
	height: 100dvh;

	margin: 0 auto;

	gap: 1em;

	& > * {
		display: flex;
		flex-direction: column;

		gap: 0.5em;

	}

}