.status-bar {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& > .avatar {
		flex-grow: 0;
		flex-shrink: 0;
	}

	& > div {
		& > h4 {
			font-size: 1em;
			transition: filter 200ms ease-in-out;
			color: var(--palette-text-primary, #9f9fff);
			// Maybe in the future. I'll need to see if it's going to look good
			//filter: drop-shadow(0 0 2px var(--palette-text-default, #dededeaa));
		}

		& > p {
			font-size: 0.7em;
		}
	}
}